*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    font-family: 'Roboto',sans-serif;
    --primary-color: rgb(23, 15, 35);
    --white-color:#fff;
    font-size: 62.5%; 
    --orange-color:rgb(245, 136, 11);
}
a{
    color: #fff;    
}
@keyframes slider1{
    0%{
        visibility: visible;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}
@keyframes slider2{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: visible;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}
@keyframes slider3{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}
@keyframes slider4{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}
@keyframes zoom-out{
    100%{
        width: 100%;
    }
}
@keyframes textup{
    10%{
        transform:translateY(0px)
    }
    100%{
        transform:translateY(0px)
    }
} 
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes fadeBlur {
    from{
        opacity: 1;
    }
    to{
        opacity: 0.4;
    }
}
@keyframes slideTop{
    from{
        opacity: 0;
        transform: translateY(-100%)
    }to{
        opacity: 1;
        transform: translateY(0)
    }
}
@keyframes slideBottom {
    from{
        opacity:1;
        transform: translateY(0)
    }to{
        opacity: 0;
        transform: translateY(-100%)
    }
    
}
